html
    head
        link(rel="stylesheet" type="text/css" href="../css/General.css")
        title Profile
body
    div#main
        div(class='header')
            div(class='center')
              <form class="form", action="/search", method = "post">  
              <input class="input" type="search" id="query" name="q" placeholder="Search Title, Genre, Actor Name..."">
              <button class = "sbutton" type="button" onclick="window.location.href='http://localhost:3000/searchresults?'">
              <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
              </button>
              </form>
        ul 
          li  
           a(href="http://localhost:3000/contribut") Contribute
          li
           a(href="http://localhost:3000/search") Search
          li 
           a(href="http://localhost:3000/login") Sign In/Up
          li 
           a(href="http://localhost:3000/ownprofille") Profile
          li 
           a(href="http://localhost:3000") Home 
        br
        a Username: #{user.username} 
        br
        br
        a Account type:
        br
        form(action="/ownprofille" method = "post")
            input(type = "radio" name = "admin" value = "Regular")
            |Regular
            br
            input(type = "radio" name = "admin" value = "contributing")
            |contributing
            br
            input(type = "submit" value = "Save")
            hr
            h3  People You Follow:
                br
                each person in people
                   a(href='/people/'+ person.name) #{person.name}
                    button(type= "submit" name = "UnfollowPeople" id = "title" value =person.name ) Unfollow
                    br
                hr
            
            h3  Users You Follow:
            each user in followeduser
                a(href='/users/'+user.username) #{user.username}
                button(type= "submit" name = "UnfollowUser" id = "title" value =user.username ) Unfollow
                br
            hr
            h3  Notification:

            if reviews.length > 0
            each review in reviews
                a #{review.reviewer + " Add review" }
                a(href='/review/'+ review.reviewer) View Details
                br
            br
        h3  Movies You've Watched:
        each movie in movies
            div(class="displayimg")
              a(href="/movies/"+ movie.Title)
                img(src=movie.Poster)
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        hr
        h3 Recommand movies:
        each r in recommand
            div(class="displayimg")
              a(href="/movies/"+r.Title)
                img(src=r.Poster)
        
            
          
       
